<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="application.properties"/>

    <bean id="dolphin"
          class="com.example.homework12.Dolphin">
        <constructor-arg name="name" value= "${Dolphin.name}"/>
        <constructor-arg name="age" value="${Dolphin.age}"/>
    </bean>

    <bean id="me"
          class="com.example.homework12.Person">
        <constructor-arg name="name" value="${Person.name}"/>
        <constructor-arg name="age" value="${Person.age}"/>
        <constructor-arg name="animal" ref="dolphin"/>
    </bean>
    <bean id = "dog"
          class="com.example.homework12.Dog">
        <constructor-arg name= "name" value="${Dog.name}"/>
        <constructor-arg name = "age" value="${Dog.age}"/>
    </bean>
    <bean id = "myFriend"
          class="com.example.homework12.Person">
        <constructor-arg name = "name" value="${MyFriend.name}"/>
        <constructor-arg name = "age" value="${MyFriend.age}"/>
        <constructor-arg ref="dog"/>
    </bean>
</beans>